{% extends 'base.html' %}
{% block content %}
    <div class="w3-amber w3-container">
        <form method="post">
            <div class="w3-bar">
                <button onclick="goBack()" class="w3-button w3-bar-item" id="id_create_detail_go_back"><i
                        class="fa fa-backward w3-large"></i>
                </button>
                {% if user.is_authenticated %}
                    <button type="submit" class="w3-button w3-bar-item" id="id_create_detail_submit">
                        <i class="fa fa-save w3-large"></i>
                    </button>
                {% endif %}
            </div>
            {% csrf_token %}
            {% for field in form %}
                {% if field.name == 'place' %}
                    <!--{{ field.value }} - {{ field.name }} - {{ field.label }}-->
                {% else %}
                    {% cycle '<div class="w3-row-padding">' '' %}
                    <div class="w3-half ">
                        {{ field.errors }}
                        {{ field.label_tag }}<br>
                        {{ field }}
                    </div>
                    {% cycle '' '</div>' %}
                {% endif %}
            {% endfor %}

        </form>
        <div class="w3-bar">
            <h1></h1>
        </div>
    </div>
{% endblock %}